table {
	border-collapse: collapse;
	margin-top: 10px;
}
tr {
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
th, td {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	padding: 3px 10px;
}
th {
	text-align: center;
}
td {
	text-align: left;
}